.container {
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 700;
  color: #666;
  font-family: "Poppins", sans-serif;
}

.cartItem {
  border: 1px solid #455162;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.variationText {
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 500;
  color: #9b9b9b;
  overflow: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.priceText {
  font-size: 18px;
}

.tableImage {
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
}

.mousePointer {
  cursor: pointer;
}

.mousePointer:hover {
  color: #ff6b6b;
  transition: all 0.3s;
}

.dropdnClose {
  height: 22px;
  width: 22px;
  display: inline-block;
  cursor: pointer;
  margin-top: 4px;
}
