.sideCartContainer {
  width: 485px;
  padding: 20px 10px 10px 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .sideCartContainer {
    padding: 20px 0;

    width: 100vw;
  }
}

.cartItemCont {
  height: 100%;
  overflow-y: auto;
}
