.footerContainer {
  background-color: #edf2f7;
  padding: 80px 6rem;
}
.footerCopyRight {
  background-color: #fff;
  padding: 16px 6rem;
  font-size: 12px;
  color: #455162;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 768px) {
  .footerCopyRight {
    margin-bottom: 50px;
    padding: 16px 1rem;
  }
  .footerContainer {
    background-color: #edf2f7;
    padding: 80px 2rem;
  }
}
.maxWidth {
  margin-bottom: 22px;
  display: flex;
}
.logo {
  height: 50px;
}
.icon {
  font-size: 24px;
  line-height: 1em;
  color: #455162;
  margin: 0;
}
.iconText {
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
  color: #455162;
  margin-left: 12px;
  width: 60%;
}
.iconText a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
  color: #455162;
}
.socialIcon {
  font-size: 30px;
  line-height: 1em;
  color: #455162;
  margin-right: 28px;
  transition: color 0.3s;
  cursor: pointer;
}
.fb:hover {
  color: #3b5998;
  transition: color 0.3s;
}
.ig:hover {
  color: #e95950;
  transition: color 0.3s;
}
.tw:hover {
  color: #3cf;
  transition: color 0.3s;
}
.in:hover {
  color: #0e76a8;
  transition: color 0.3s;
}

.title {
  color: #000;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.25rem;
}
.unorderedList {
  padding-left: 20px;
}
.paddingZero {
  padding: 0;
}
.listItemBtn {
  padding: 0;
}
.listItemBtn:hover .listText {
  color: #ff6b6b;
  transition: color 0.3s;
}
.listItemBtn:hover .listIcon {
  color: #ff6b6b;
  transition: color 0.3s;
}
.listItemIcon {
  min-width: 20px;
}
.listIcon {
  height: 14px;
  transition: color 0.3s;
}
.listText {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #455162;
  transition: color 0.3s;
}
.subDesc {
  position: relative;
  color: #455162;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 14px;
}
.footerInput {
  width: calc(100% - 27px);
  border-radius: 30px;
  height: 40px;
  border: 1px solid black;
  line-height: 26px;
  padding: 0 0 0 25px;
  font-size: 14px;
  color: #455162;
  background: none;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
.subBtn {
  width: calc(100% - 72px);
  z-index: 0;
}
.payments {
  margin-top: 20px;
  height: 20px;
}
